<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <form action="">
      <input type="text" name="username" placeholder="username">
      <input type="text" name="name" placeholder="name">
      <input type="password" name="password" placeholder="password">
      <input type="submit" value="Submit">

    </form>
  </body>
</html>
